

/*Card */

.card {
    border: 1px solid var(--color-three);
    margin-bottom: 20px;
    transition: border 0.1s, transform 0.3s;
}

    .card:hover {
        border: 1px solid var(--color-two);
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
        cursor: pointer;
    }

    .card .card-body h2 {
        color: var(--color-two);
    }

    .card img:hover {
        opacity: 0.6;
    }

.card-text {
    /*display: -webkit-box;
    max-width: 100%;
    margin: 0 auto;
    -webkit-line-clamp: 2;*/
    /* autoprefixer: off /
    -webkit-box-orient: vertical;
    / autoprefixer: on */
    /*overflow: hidden;
    text-overflow: ellipsis;*/
    display: block;
    width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-p {
    color: var(--color-three);
}

    .card-p i {
        color: var(--color-two);
        margin-right: 8px;
    }

/*Add more card*/
.card1 .content1 {
    display: flex;
    justify-content: center;
    align-items: center;
}



.card1 {
    height: 410px;
    position: relative;

}

@media screen and (max-width: 700px) {
    .card1 {
        width: 45%;
    }
}

@media screen and (max-width: 500px) {
    .card1 {
        width: 90%;
    }
}

.card1 .elms-animation,
.card1 .content1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.card1 .elms-animation {
    z-index: 5;
}

    .card1 .elms-animation span {
        position: absolute;
        background-color: rgba(0, 0, 0, .6);
        height: 0;
        width: 0;
        transition: all .5s ease-out;
    }

        .card1 .elms-animation span.one {
            top: 0;
            left: 0;
        }

        .card1 .elms-animation span.two {
            top: 0;
            right: 0;
        }

        .card1 .elms-animation span.three {
            left: 0;
            bottom: 0;
        }

        .card1 .elms-animation span.four {
            right: 0;
            bottom: 0;
        }

.card1:hover .elms-animation span {
    width: 50%;
    height: 50%;
}

.card1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.card1 .content1 {
    z-index: 6;
    visibility: hidden;
}

.card1:hover .content1 {
    animation: show .3s .4s linear forwards;
}

.card1 .content1 button {
    padding: .6rem 1.3rem;
    border: 3px solid #FFF;
    background: transparent;
    color: #FFF;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    transition: background .3s ease;
}

    .card1 .content1 button:hover {
        background: #FFF;
        color: #333;
    }

@keyframes show {
    to {
        visibility: visible;
    }
}