@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css" type="text/css" />
<div class="text-center">
    <h1 class="display-4">Welcome to our website</h1>
    <p>Detect about <a href="">Symptoms of a strawberry
        <br />
            <h3>Notices your strawberry with strange appearance and symptom?</h3>
    </a>.</p>
</div>

<section>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <div class="main-timeline">
                    <div class="timeline">
                        <div class="timeline-content">
                            <div class="circle">
                                <span class="homebox">
                                    <img src="https://static.vecteezy.com/system/resources/previews/004/511/733/original/camera-icon-on-white-background-vector.jpg" width="164" height="164"class="img">
                                </span>
                            </div>
                            <div class="content">
                                <span class="year">Step.1</span>
                                <h3 class="title h4"></h3>
                                <p class="description">
                                    <h3>Take picture of your infected strawberry</h3>
                                </p>
                                <div class="icon"><span></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-content">
                            <div class="circle"><span class="homebox"><img src="https://cdn.discordapp.com/attachments/320416265661448202/1038725034291769344/image.png" width="164" height="164" class="img" /></span></div>
                            <div class="content">
                                <span class="year">Step.2</span>
                          
                                <p class="description">
                                    <h3>Go to https://sdddsystem.com<br/>
                                        Upload your picture via website
                                    </h3>
                                </p>
                                <div class="icon"><span></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-content">
                            <div class="circle"><span class="homebox"><img src="https://cdn-icons-png.flaticon.com/512/272/272471.png" width="164" height="164" class="img"></span></div>
                            <div class="content">
                                <span class="year">Step.3</span>
                               
                                <p class="description">
                                   <h3>Sit down and please wait for our system to analyze the image</h3>
                                </p>
                                <div class="icon"><span></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-content">
                            <div class="circle"><span class="homebox"><img src="https://thumbs.dreamstime.com/b/two-businessman-consult-office-desk-flat-illustration-vector-128419665.jpg"width="164" height="164"class="img"></span></div>
                            <div class="content">
                                <span class="year">Step.4</span>
                                <p class="description">
                                    <h3>Consult to profressionals about the result symptom</h3>
                                </p>
                                <div class="icon"><span></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-content">
                            <div class="circle"><span class="homebox"><img src="https://t3.ftcdn.net/jpg/01/08/24/90/360_F_108249056_LF6VqEXmnNXW77N6Gnl7Fn6OZqIOqfF2.jpg" width=" 164" height="164" class="img"></span></div>
                            <div class="content">
                                <span class="year">Step.5</span>
                                
                                <p class="description">
                                    <h3>Navigate through our websites to see other information abour sympton and preventative measures</h3>
                                </p>
                                <div class="icon"><span></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-content">
                            <div class="circle"><span class="homebox"><img src="https://picsum.photos/164" class="img"></span></div>
                            <div class="content">
                                <span class="year">No.6</span>
                                <h3 class="title h4">Heading</h3>
                                <p class="description">
                                    Eu feugiat pretium nibh ipsum consequat. Et molestie ac feugiat sed lectus vestibulum mattis. Sit amet consectetur adipiscing elit duis tristique.
                                </p>
                                <div class="icon"><span></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-content">
                            <div class="circle"><span class="homebox"><img src="https://picsum.photos/164" class="img"></span></div>
                            <div class="content">
                                <span class="year">No.7</span>
                                <h3 class="title h4">Heading</h3>
                                <p class="description">
                                    Egestas fringilla phasellus faucibus scelerisque eleifend donec. Vitae justo eget magna fermentum iaculis. Euismod lacinia at quis risus sed vulputate. Congue nisi vitae suscipit tellus mauris a diam.
                                </p>
                                <div class="icon"><span></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-content">
                            <div class="circle"><span class="homebox"><img src="https://picsum.photos/164" class="img"></span></div>
                            <div class="content">
                                <span class="year">No.8</span>
                                <h3 class="title h4">Heading</h3>
                                <p class="description">
                                    Eget nunc scelerisque viverra mauris in aliquam. Nibh tortor id aliquet lectus.
                                </p>
                                <p class="description">
                                    Semper quis lectus nulla at volutpat diam. Scelerisque purus semper eget duis at tellus at urna condimentum. Nisl suscipit adipiscing bibendum est.
                                </p>
                                <p class="description">
                                    Nisi vitae suscipit tellus mauris. Dignissim diam quis enim lobortis scelerisque fermentum dui faucibus. Placerat orci nulla pellentesque dignissim enim sit amet venenatis urna.
                                </p>
                                <div class="icon"><span></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-content">
                            <div class="circle"><span class="homebox"><img src="https://picsum.photos/164" class="img"></span></div>
                            <div class="content">
                                <span class="year">No.9</span>
                                <h3 class="title h4">Heading</h3>
                                <p class="description">
                                    Sit amet consectetur adipiscing elit ut. Dolor morbi non arcu risus quis varius quam quisque. Quis ipsum suspendisse ultrices gravida dictum fusce ut placerat orci.
                                </p>
                                <p class="description">
                                    Elementum sagittis vitae et leo. Risus pretium quam vulputate dignissim suspendisse in est ante in.
                                </p>
                                <div class="icon"><span></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-content">
                            <div class="circle"><span class="homebox"><img src="https://picsum.photos/164" class="img"></span></div>
                            <div class="content">
                                <span class="year">No.10</span>
                                <h3 class="title h4">Heading</h3>

                                <p class="description">
                                    Tellus in hac habitasse platea. Commodo nulla facilisi nullam vehicula ipsum a. Quis commodo odio aenean sed adipiscing. Ipsum consequat nisl vel pretium lectus. Dolor morbi non arcu risus quis varius. Mi bibendum neque egestas congue quisque egestas diam in.
                                </p>
                                <p class="description">
                                    Id eu nisl nunc mi ipsum faucibus vitae aliquet. Placerat orci nulla pellentesque dignissim enim.
                                </p>

                                <div class="icon"><span></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>