@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Home Page";
    var healthPercent = Convert.ToDouble(Context.Session.GetString("healthPercent"));
    var leafSpotPercent = Convert.ToDouble(Context.Session.GetString("leafSpotPercent"));
    var powderyPercent = Convert.ToDouble(Context.Session.GetString("powderyPercent"));

    var healthyDiagnosisToday = Context.Session.GetInt32("healthyDiagnosisToday");
    var leafSpotDiagnosisToday = Context.Session.GetInt32("leafSpotDiagnosisToday");
    var powderyDiagnosisToday = Context.Session.GetInt32("powderyDiagnosisToday");

    var totalFarmer = Context.Session.GetInt32("totalFarmer");
    var totalExpert = Context.Session.GetInt32("totalExpert");
    var totalPrediction = Context.Session.GetInt32("totalPrediction");

    var arrayListDays = Context.Session.GetString("arrayListDays");
    var arrayListPrediction = Context.Session.GetString("arrayListPrediction");
}

<link rel="stylesheet" href="~/css/home.css" type="text/css" />
<style type="text/css">
    .card {
        overflow: hidden;
    }

    .card-block .rotate {
        z-index: 8;
        float: right;
        height: 100%;
    }

        .card-block .rotate i {
            color: rgba(20, 20, 20, 0.15);
            position: absolute;
            left: 0;
            left: auto;
            right: -10px;
            bottom: 0;
            display: block;
            -webkit-transform: rotate(-44deg);
            -moz-transform: rotate(-44deg);
            -o-transform: rotate(-44deg);
            -ms-transform: rotate(-44deg);
            transform: rotate(-44deg);
        }
</style>

@if (Context.Session.GetString("role") == "MEMBER")
{
    <div class="text-center">
        <h1 class="display-4">Welcome to our website</h1>
        <p>Detect about <a href="">Symptoms of a strawberry
            <br />
                <h3>Notices your strawberry with strange appearance and symptom?</h3>
        </a>.</p>
    </div>

    <section>
        <div class="container py-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline">
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle">
                                    <span class="homebox">
                                        <img src="~/Images/Instruction/Proficient-Photographers.jpg" width="164" height="164" class="img">
                                    </span>
                                </div>
                                <div class="content">
                                    <span class="year">Step.1</span>
                                    <h3 class="title h4">IMAGES</h3>
                                    <p class="description">
                                        Take a clear picture of the strawberry leaf that you want to analyze using your smartphone or camera.
                                    </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                             <div class="circle"><span class="homebox"><img src="~/Images/331158884_942889967092824_8995541121118928637_n.png" width="164" height="164" class="img"></span></div>
                            <div class="content">
                                <span class="year">Step.2</span>
                                <h3 class="title h4">SDDS WEBSITE</h3>
                                <p class="description">
                                    Open your web browser and navigate to SDDSystem.com Website Application ...
                                </p>
                                <div class="icon"><span></span></div>
                            </div>
                            </div>
                        </div>
                     
                        <div class="timeline">
                            <div class="timeline-content">
                            <div class="circle"><span class="homebox"><img src="~/Images/Instruction/register.jpg" width="164" height="164" class="img"></span></div>
                                <div class="content">
                                    <span class="year">Step.3</span>
                                     <h3 class="title h4">REGISTER</h3>
                                    <p class="description">
                                    If you're a first-time user, click the "Sign Up" button on the homepage navbar to create a new account If you've already registered, skip to step 4.
                                    </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                            <div class="circle"><span class="homebox"><img src="~/Images/Instruction/login.png" width="164" height="164" class="img"></span></div>
                                <div class="content">
                                    <span class="year">Step.4</span>
                                    <h3 class="title h4">LOGIN</h3>
                                    <p class="description">
                                          If you're a returning user, click the "Sign In" button on the homepage to enter your email address and password.
                                    </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                            <div class="circle"><span class="homebox"><img src="~/Images/Instruction/upload.png" width=" 164" height="164" class="img"></span></div>
                                <div class="content">
                                    <span class="year">Step.5</span>
                                     <h3 class="title h4">UPLOAD IMAGE</h3>
                                    <p class="description">
                                      On the sidebar, click the "Upload Image" button to upload an image of the strawberry leaf that you want to analyze.
                                    </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                            <div class="circle"><span class="homebox"><img src="~/Images/Instruction/AI.jpg" width=" 164" height="164" class="img"></span></div>
                                <div class="content">
                                    <span class="year">No.6</span>
                                    <h3 class="title h4">AI ANALSYS</h3>
                                    <p class="description">
                                      Wait for the AI algorithm to process the image and generate the prediction results
                                    </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                            <div class="circle"><span class="homebox"><img src="~/Images/Instruction/result.jpg" width=" 164" height="164" class="img"></span></div>
                                <div class="content">
                                    <span class="year">No.7</span>
                                    <h3 class="title h4">RESULTS</h3>
                                    <p class="description">
                                         Once the results are generated, they will be displayed on the screen along with a confidence score.
                                    </p>
                                    <p class="description">
                                         Review the prediction and confidence score to determine the likelihood of the strawberry leaf having a disease.
                                    </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                            <div class="circle"><span class="homebox"><img src="~/Images/Instruction/ExpertReal.png" width=" 164" height="164" class="img"></span></div>
                                <div class="content">
                                    <span class="year">No.8</span>
                                    <h3 class="title h4">EXPERT</h3>
                                    <p class="description">
                                        An expert will review the prediction results to confirm their accuracy. This may take some time, so please be patient.
                                    </p>
                                    <p class="description">
                                        Once the expert has confirmed the results, they will be sent to you via email or displayed on the website.
                                    </p>
                                    <p class="description">
                                        Review the confirmed results and confidence score to determine the likelihood of the strawberry leaf having a disease.
                                    </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="~/Images/Instruction/treatment.jpg" width=" 164" height="164" class="img"></span></div>
                                <div class="content">
                                    <span class="year">No.9</span>
                                    <h3 class="title h4">TREATMENTS</h3>
                                    <p class="description">
                                    If the prediction indicates that the leaf has a disease, consider taking appropriate action such as applying treatment or removing the infected leaf.
                                    </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="~/Images/Instruction/History.jpg" width=" 164" height="164" class="img"></span></div>
                                <div class="content">
                                    <span class="year">No.10</span>
                                    <h3 class="title h4">HISTORY</h3>
                                    <p class="description">
                                         To view your prediction history, click on the "Prediction History" tab on the website's main menu.
                                    </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span class="homebox"><img src="~/Images/Instruction/TRACK.jpg" width=" 164" height="164" class="img"></span></div>
                                <div class="content">
                                    <span class="year">No.11</span>
                                    <h3 class="title h4">KEEP TRACK</h3>
                                    <p class="description">
                                        Use the prediction history to keep track of your past analyses and monitor the health of your strawberry plants over time.
                                    </p>
                                    <div class="icon"><span></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
} else {
    <div class="row mb-5">
        <div class="col-xl-4 col-lg-6">
            <div class="card card-inverse card-danger">
                <div class="card-block bg-danger" style="padding: 10px 10px 5px 10px;color: wheat;">
                    <div class="rotate">
                        <i class="fa fa-list fa-4x"></i>
                    </div>
                    <h6 class="text-uppercase">Total Farmer</h6>
                    <h1 class="display-1">@totalFarmer</h1>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6">
            <div class="card card-inverse card-success">
                <div class=" card-block bg-success" style="padding: 10px 10px 5px 10px;color: wheat;">
                    <div class="rotate">
                        <i class="fa fa-user fa-5x"></i>
                    </div>
                    <h6 class="text-uppercase">Total Expert</h6>
                    <h1 class="display-1">@totalExpert</h1>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6">
            <div class="card card-inverse card-info">
                <div class="card-block bg-warning" style="padding: 10px 10px 5px 10px;color: wheat;">
                    <div class="rotate">
                        <i class="fa-solid fa-magnifying-glass fa-5x"></i>
                    </div>
                    <h6 class="text-uppercase">Total Predict</h6>
                    <h1 class="display-1">@totalPrediction</h1>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <div class="row">
        <h1 class="font-weight-bold mb-5">STRAWBERRRY DISEASE STATICS : </h1>
        <div class="col-md-12 d-flex justify-content-center mb-5">
            <div class="col-md-6" style="height:500px">
                <canvas id="polarArea" width="200" height="200"></canvas>
            </div>
        </div>
        <hr>
        <h1 class="font-weight-bold mb-5">TOTAL PREDICTION TODAY : </h1>
        <div class="col-md-12 d-flex justify-content-center mb-5">
            <div class="col-md-6">
                <canvas id="myBarChart"></canvas>
            </div>
        </div>
        <hr>
        <h1 class="font-weight-bold mb-5">TOTAL DIAGNOSIS LAST 7 DAYS : </h1>
        <div class="col-md-12 d-flex justify-content-center mb-5">
            <div class="col-md-6">
                <canvas id="myLineChart"></canvas>
            </div>
        </div>
        <hr>
    </div>
}




@*<div class="row mb-2">
    <div class="col-md-4 d-flex justify-content-center" style="height:500px">
        <canvas id="polarArea" width="200" height="200"></canvas>
    </div>
    <div class="col-md-4 d-flex justify-content-center" >
        <canvas id="myBarChart"></canvas>
    </div>
    <div class="col-md-4">
        <canvas id="myLineChart"></canvas>
    </div>
</div>
*@

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctxPolar = document.getElementById('polarArea').getContext('2d');
    new Chart(ctxPolar, {
        type: 'polarArea',
        data: {
            labels: ['Strawberry Healthy Leaf', 'Strawberry Leaf Spot', 'Strawberry Powdery Mildew Leaf'],
            datasets: [{
                label: 'Correct Diagnosis Percent',
                data: [(@healthPercent * 100), (@leafSpotPercent * 100), (@powderyPercent * 100)],
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 205, 86)',
                    'rgb(40, 167, 69)'
                ]
            }]
        },
    });
</script>
<script>
    const ctxBar = document.getElementById('myBarChart').getContext('2d');
    new Chart(ctxBar, {
        type: 'bar',
        data: {
            labels: ['Strawberry Healthy Leaf', 'Strawberry Leaf Spot', 'Strawberry Powdery Mildew Leaf'],
            datasets: [{
                label: 'Total Prediction Today',
                data: [@healthyDiagnosisToday, @leafSpotDiagnosisToday, @powderyDiagnosisToday],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(54, 162, 235, 0.2)'
                ],
                borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 205, 86)',
                    'rgb(54, 162, 235)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
<script>
    const labels = @arrayListDays;
    const data = {
        labels: labels,
        datasets: [{
            label: 'Total Diagnosis Last 7 days',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: @arrayListPrediction,
        }]
    } ;


    const config = {
        type: 'line',
        data: data,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    };
    const myLineChart = new Chart(
        document.getElementById('myLineChart'),
        config
    );
</script>