@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@using Microsoft.AspNetCore.Http;
@using System.Net


  <style type="text/css">
    .card {
      overflow: hidden;
    }
    
    .card-block .rotate {
      z-index: 8;
      float: right;
      height: 100%;
    }
    
    .card-block .rotate i {
      color: rgba(20, 20, 20, 0.15);
      position: absolute;
      left: 0;
      left: auto;
      right: -10px;
      bottom: 0;
      display: block;
      -webkit-transform: rotate(-44deg);
      -moz-transform: rotate(-44deg);
      -o-transform: rotate(-44deg);
      -ms-transform: rotate(-44deg);
      transform: rotate(-44deg);
    }
  </style>


<div class="row mb-3">
    <div class="col-xl-3 col-lg-6">
        <div class="card card-inverse card-danger">
            <div class="card-block bg-danger" style="padding: 10px 10px 5px 10px;color: wheat;">
                <div class="rotate">
                    <i class="fa fa-list fa-4x"></i>
                </div>
                <h6 class="text-uppercase">Total User</h6>
                <h1 class="display-1">87</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card card-inverse card-success">
            <div class=" card-block bg-success" style="padding: 10px 10px 5px 10px;color: wheat;">
                <div class="rotate">
                    <i class="fa fa-user fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Total Users Online</h6>
                <h1 class="display-1">134</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card card-inverse card-info">
            <div class="card-block bg-info" style="padding: 10px 10px 5px 10px;color: wheat;">
                <div class="rotate">
                     <i class="fa-solid fa-magnifying-glass fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Total Predict</h6>
                <h1 class="display-1">125</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card card-inverse card-warning">
            <div class="card-block bg-warning"style="padding: 10px 10px 5px 10px;color: wheat;">
                <div class="rotate">
                    <i class="fa fa-share fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Total View</h6>
                <h1 class="display-1">36</h1>
            </div>
        </div>
    </div>
</div>