@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<link rel="stylesheet" href="~/css/diseaseInfoUser.css" type="text/css" />
<style>
    :root {
        --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
    }

    .card {
        background: #ffffff;
        border: 1.5px solid #dd2476;
        color: black;
        margin-bottom: 2rem;
    }

    .btn {
        border: 2px solid;
        border-image-slice: 1;
        background: var(--gradient) !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        border-image-source: var(--gradient) !important;
        text-decoration: none;
        transition: all .4s ease;
    }

        .btn:hover, .btn:focus {
            background: var(--gradient) !important;
            -webkit-background-clip: none !important;
            -webkit-text-fill-color: #fff !important;
            border: 5px solid #fff !important;
            box-shadow: #222 1px 0 10px;
        }
</style>
<div class="container my-5">

   
</div>


<div class="container mx-auto mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card    " style="width: 18rem;">
                <img src="https://suckhoedoisong.qltns.mediacdn.vn/zoom/600_315/Images/duylinh/2020/12/11/la-dau-vi-thuoc-hay1607659464.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vang La</h5>
                    @*<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    <a href="#" class="btn w-100 mt-2"><i class="fas fa-link"></i> See more details</a>
                    <a href="#" class="btn w-100 mt-2"><i class="fas fa-wind"></i> Symptom</a>
                    <a href="#" class="btn w-100 mt-2"><i class="fas fa-pills"></i> Pescitide</a>
                    <a href="#" class="btn w-100 mt-2"><i class="fas fa-shield"></i> Measure</a>
                    <a href="#" class="btn w-100 mt-2"><i class="fas fa-thermometer-half"></i> Cause</a>
                </div>
            </div>
        </div> 
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://suckhoedoisong.qltns.mediacdn.vn/zoom/600_315/Images/duylinh/2020/12/11/la-dau-vi-thuoc-hay1607659464.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vang La</h5>
                    @*<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    <a href="#" class="btn w-100 mt-2"><i class="fas fa-link"></i> See more details</a>
                    <a href="#" class="btn w-100 mt-2"><i class="fas fa-wind"></i> Symptom</a>
                    <a href="#" class="btn w-100 mt-2"><i class="fas fa-pills"></i> Pescitide</a>
                    <a href="#" class="btn w-100 mt-2"><i class="fas fa-shield"></i> Measure</a>
                    <a href="#" class="btn w-100 mt-2"><i class="fas fa-thermometer-half"></i> Cause</a>
                </div>
            </div>
        </div> 
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://suckhoedoisong.qltns.mediacdn.vn/zoom/600_315/Images/duylinh/2020/12/11/la-dau-vi-thuoc-hay1607659464.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vang La</h5>
                    @*<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    <a href="#" class="btn w-100 mt-2"><i class="fas fa-link"></i> See more details</a>
                    <a href="#" class="btn w-100 mt-2"><i class="fas fa-wind"></i> Symptom</a>
                    <a href="#" class="btn w-100 mt-2"><i class="fas fa-pills"></i> Pescitide</a>
                    <a href="#" class="btn w-100 mt-2"><i class="fas fa-shield"></i> Measure</a>
                    <a href="#" class="btn w-100 mt-2"><i class="fas fa-thermometer-half"></i> Cause</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://suckhoedoisong.qltns.mediacdn.vn/zoom/600_315/Images/duylinh/2020/12/11/la-dau-vi-thuoc-hay1607659464.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vang La</h5>
                    @*<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    <a href="#" class="btn w-100 mt-2"><i class="fas fa-link"></i> See more details</a>
                    <a href="#" class="btn w-100 mt-2"><i class="fas fa-wind"></i> Symptom</a>
                    <a href="#" class="btn w-100 mt-2"><i class="fas fa-pills"></i> Pescitide</a>
                    <a href="#" class="btn w-100 mt-2"><i class="fas fa-shield"></i> Measure</a>
                    <a href="#" class="btn w-100 mt-2"><i class="fas fa-thermometer-half"></i> Cause</a>
                </div>
            </div>
        </div> 
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://suckhoedoisong.qltns.mediacdn.vn/zoom/600_315/Images/duylinh/2020/12/11/la-dau-vi-thuoc-hay1607659464.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vang La</h5>
                    @*<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    <a href="#" class="btn w-100 mt-2"><i class="fas fa-link"></i> See more details</a>
                    <a href="#" class="btn w-100 mt-2"><i class="fas fa-wind"></i> Symptom</a>
                    <a href="#" class="btn w-100 mt-2"><i class="fas fa-pills"></i> Pescitide</a>
                    <a href="#" class="btn w-100 mt-2"><i class="fas fa-shield"></i> Measure</a>
                    <a href="#" class="btn w-100 mt-2"><i class="fas fa-thermometer-half"></i> Cause</a>
                </div>
            </div>
        </div> 
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://suckhoedoisong.qltns.mediacdn.vn/zoom/600_315/Images/duylinh/2020/12/11/la-dau-vi-thuoc-hay1607659464.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vang La</h5>
                    @*<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    <a href="#" class="btn w-100 mt-2"><i class="fas fa-link"></i> See more details</a>
                    <a href="#" class="btn w-100 mt-2"><i class="fas fa-wind"></i> Symptom</a>
                    <a href="#" class="btn w-100 mt-2"><i class="fas fa-pills"></i> Pescitide</a>
                    <a href="#" class="btn w-100 mt-2"><i class="fas fa-shield"></i> Measure</a>
                    <a href="#" class="btn w-100 mt-2"><i class="fas fa-thermometer-half"></i> Cause</a>
                </div>
            </div>
        </div>
       

     
    </div>
</div>
